---
permalink: events/index.html
---
<ul>
{% for event_id, event in events | datesort %}
    <li>
        <h2><a href="/events/{{ event_id }}">{{ event.title }}</a></h2>
        <p>{{ event.blurb }}</p>
        <p><a href="/events/{{ event_id }}">Event details</a></p>
    </li>
{% endfor %}
</ul>
