{% for speaker_id, speaker in speakers %}
    <div>
        {{ speaker.name }}
        {% for talk_id, talk in talks %}
            {% if talk.speaker === speaker_id %}
                <div>{{ talk.name }}</div>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}
