---
title: Speakers
description: We've had some great speakers at LeedsJS. Have a look through the speaker listing for more details on the folks who have shared their knowledge with us!
layout: layouts/list.njk
permalink: speakers/index.html
---
<ul>
{% for speaker_id, speaker in speakers | objsort("name") %}
    <li class="card">
        <h2><a href="/speakers/{{ speaker_id }}/">{{ speaker.name }}</a></h2>
        <p>{{ speaker.bio | markdown | getfirsttagcontent | truncate }}</p>
        <p><a href="/speakers/{{ speaker_id }}/">Read more</a></p>
    </li>
{% endfor %}
</ul>
