---
layout: layouts/base.njk
pagination:
    data: speakers
    size: 1
    alias: speaker_id
permalink: speakers/{{ speaker_id }}/index.html
renderData:
    title: Speaker - {{ speakers[speaker_id].name }}
    description: "{{ speakers[speaker_id].bio | markdown | getfirsttagcontent }}"
    image: speakers/{{ speakers[speaker_id].picture }}
---
{% set speaker = speakers[speaker_id] %}
<h1>{{ speaker.name }}</h1>
<div class="card">
    {% if speaker.picture %}
        <img src="/img/speakers/{{ speaker.picture }}" class="speaker-picture" alt="Picture of {{ speaker.name }}" />
    {% endif %}
    <h2>Bio</h2>
    {{ speaker.bio | markdown | safe }}
    {% if speaker.links or speaker.twitter %}
    <h2>Links</h2>
    <ul>
        {% if speaker.twitter %}
            <li>
                <b>Twitter:</b>
                <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank" rel="noopener noreferrer">
                    @{{ speaker.twitter }}
                </a>
            </li>
        {% endif %}
        {% for site, url in speaker.links | dictsort %}
            <li><b>{{ site }}:</b> <a href="{{ url }}" target="_blank" rel="noopener noreferrer">{{ url }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% set speaker_talks = talks | filterobj("speaker", speaker_id) | objsort("title") %}
    {% if speaker_talks | ispopulatedobject %}
    <h2>Talks</h2>
    <ul>
        {% for talk_id, talk in speaker_talks %}
            <li><a href="/talks/{{ talk_id }}">{{ talk.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
