<!doctype html>
<html lang="en">
    <head>
        <title>{{ renderData.title or title }} // LeedsJS</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{{ renderData.description or description }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@LeedsJS">
        <meta name="og:title" content="{{ renderData.title or title }}">
        <meta name="twitter:title" content="{{ renderData.title or title }}">
        <meta name="twitter:description" content="{{ renderData.description or description }}">
        <meta name="og:description" content="{{ renderData.description or description }}">
        <meta name="twitter:image" content="https://leedsjs.com/img/{{ renderData.image or image or 'logo-banner.png' }}">
        <meta name="og:image" content="https://leedsjs.com/img/{{ renderData.image or image or 'logo-banner.png' }}">
        <meta name="og:url" content="https://leedsjs.com{{ page.url }}">
        <meta name="og:type" content="website">
        <meta charset="UTF-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#F7DF1E">
        <meta name="msapplication-config" content="/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ '/styles.css' | url }}">
    </head>
    <body>
        <header class="page-header">
            <a href="{{ '/' | url }}" class="page-header__logo-link">
                <img src="{{ '/img/logo.png' | url }}" width="150" height="150" alt="LeedsJS Logo"  class="page-header__logo-image" />
            </a>
            <nav class="page-header__navigation">
                <ul>
                    <li>
                        <a href="{{ '/' | url }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ '/events/' | url }}">Events</a>
                    </li>
                    <li>
                        <a href="{{ '/talks/' | url }}">Talks</a>
                    </li>
                    <li>
                        <a href="{{ '/speakers/' | url }}">Speakers</a>
                    </li>
                    <li>
                        <a href="{{ '/code-of-conduct/' | url }}">Code of Conduct</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/leedsjs" target="_blank" rel="noopener noreferrer">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/LeedsJS" target="_blank" rel="noopener noreferrer">YouTube</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="page-main">
            {{ content | safe }}
            {% if not renderData.disableMailchimp %}
                <div class="card">
                    {% include "mailchimp-form.njk" %}
                </div>
            {% endif %}
            <div>
                <p class="center">
                    <a href="https://github.com/leedsjs/website-eleventy" target="_blank" rel="noopener noreferrer">
                        View website source on GitHub
                    </a>
                </p>
            </div>
        </main>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>
        <script type="text/javascript" src="{{ '/script.js' | url }}" defer></script>
    </body>
</html>
