---
layout: layouts/page.njk
title: Thank you for submitting your feedback
renderData:
    disableMailchimp: true
---
Thank you for submitting your feedback, we'll pass any talk feedback to the speakers.
