---
title: JavaScript meetup in Leeds
layout: layouts/base.njk
description: LeedsJS is a free, monthly meetup based in Leeds. We focus on JavaScript in all it's forms, whether that's frontend development, Node.js or hardware.
---
{% set event = events.nextEvent %}
<div class="card center">
    {% if event %}
        <div class="card__header">
            <p>Our next event is...</p>
        </div>
        <h1>{{ event.title }}</h1>
        <p><b>Date:</b> {{ event.date | date("Do MMMM YYYY") }}</p>
        <p><b>Time:</b> {{ event.start_time }} - {{ event.end_time }}</p>
        {{ event.blurb | markdown | safe }}
        <h2>Talks</h2>
        {% for talk_id in event.talks %}
            {% set talk = talks.get(talk_id) %}
            <div class="card__talk-container">
                <h3>{{ talk.title }}</h3>
                <p>By <a href="/speakers/{{ talk.speaker }}/">{{ speakers.get(talk.speaker).name }}</a></p>
            </div>
        {% endfor %}
        </ul>
        {% if not (event.ticketsAvailable()) %}
            <p><b>Tickets will be available from 10:00 AM on {{ event.ticket_date | date("Do MMMM YYYY") }}</b></p>
        {% endif %}
        <div class="button-container">
            {% if event.ticketsAvailable() %}
                {% set tito_event_id = event.id %}
                {% include "tito-button.njk" %}
                <a href="/events/{{ event.id }}/" class="button">More details</a>
            {% else %}
                <a href="/events/{{ event.id }}/" class="button button__primary">More details</a>
            {% endif %}

        </div>
    {% else %}
        <h1>Our next event will be announced shortly</h1>
        <p>We're not quite ready to announce our next event, but you can sign up to our mailing list to be notified.</p>
        <a href="#mailchimp-form" class="button button__primary">Register to stay updated</a>
    {% endif %}
</div>
<div class="card">
    <h2>About us</h2>
    <p>LeedsJS is a free, monthly meetup based in Leeds. We focus on JavaScript in all it's forms, whether that's frontend development, Node.js or hardware.</p>
    <p>Join us on the last Wednesday of the month for talks, pizza and to meet the people that make up the Leeds JavaScript community!</p>
    <p><b>Please note:</b> The group is intended for people looking to expand their knowledge and meet the community. While recruiters are welcome to come and learn, we operate a strict no active recruitment policy, outside of the job pitches at the start of the event.</p>
</div>
<div class="card">
    {% include "venue.njk" %}
</div>
