---
title: Join our mailing list
layout: layouts/page.njk
renderData:
    disableMailchimp: true
---
<p>We use our mailing list to send out updates about events, as well as other things relevant to LeedsJS such as discounts from conferences that we partner with.</p>

<p>We will only pass your email to our mailing list management service (Mailchimp) and never to any other 3rd party without your consent.</p>

<p>If you'd like to hear from us, please sign up with the form below.</p>

<h2>Sign Up</h2>
{% include "mailchimp-form.njk" %}
