/* libre-baskerville-regular - latin */
@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/libre-baskerville-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
         url('../fonts/libre-baskerville-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/libre-baskerville-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/libre-baskerville-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/libre-baskerville-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/libre-baskerville-v6-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
    font-display: swap;
}

::selection {
    background: #f1d608;
}

html {
    height: 100%;
    font-size: 10px;
}

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background: #333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

h1,
h2,
h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    letter-spacing: .6px;
}

h2, h3 {
    margin: 3.2rem 0 1.6rem;
    line-height: 1.5;
}

h1,
h2:first-child,
h3:first-child {
    margin: 1.2rem 0;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #4f2ad6;
    transition: border-color .15s ease;
}

a:hover {
    border-color: transparent;
}

a.link__yellow {
    color: #f1d608;
}

p {
    line-height: 1.3;
}

p, ul, address {
    margin: 0 0 16px;
    font-style: normal;
}

.page-header {
    background: #ffffff;
    text-align: center;
    padding-top: 1.6rem;
    border-bottom: 4px solid #f7df1d;
}

.page-header__logo-link {
    display: block;
    margin: 0 auto;
    width: 100px;
    border: none;
}

.page-header__logo-image {
    display: block;
    width: 100%;
    height: auto;
}

.page-header__navigation a {
    position: relative;
    display: inline-block;
    color: #000000;
    text-decoration: none;
    border: none;
    white-space: nowrap;
    padding: 16px 0;
    max-width: 750px;
    z-index: 1;
}

.page-header__navigation a::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.5em;
    right: -0.5em;
    background-color: #f7df1d;
    transform-origin: 50% 100%;
    transform: scaleY(0);
    transition: transform 0.15s ease-in-out;
}

.page-header__navigation a:hover::before {
    transform: scaleY(1);
    transform-origin: 50% 100%;
}

.page-header__navigation a.active {
    pointer-events: none;
}

.page-header__navigation a.active::before {
    transform: scaleY(1);
    opacity: 0.5;
    transform-origin: 50% 100%;
}

.page-header__navigation ul {
    margin: 0;
    padding: .5rem 1.5rem 0;
}

.page-header__navigation li {
    display: inline;
    margin-right: 2rem;
}

.page-header__navigation li:last-child {
    margin-right: 0;
}

.page-main {
    padding: 16px 16px 0px;
    width: 90%;
    min-width: 288px;
    max-width: 750px;
    margin: 0px auto;
}

.page-main > h1 {
    color: white;
}

.page-main > ul {
    margin: 0;
    padding: 0;
}

.card {
    background: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    list-style: none;
    margin-bottom: 16px;
}

.card__header {
    width: 100%;
    text-transform: capitalize;
    border-bottom: 2px solid #d8d8d8;
}

.card__talk-container {
    background: #f2f2f2;
    margin: .5rem 0;
    padding: .5rem;
}

.card li {
    line-height: 1.4;
}

.mailchimp-form__label, .prize-draw-form__label {
    display: block;
    margin-bottom: 8px;
}

.mailchimp-form__email, .prize-draw-form__name {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.mailchimp-form__response, .prize-draw__response {
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 10px;
}

.error {
    background: #ff7777;
}

.success {
    background: #a9ff87;
}

.button, button, input[type="submit"] {
    color: #000000;
    background: #ffffff;
    border: 2px solid black;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
}

.button:hover {
    background: #fdf7ce;
}

.button.button__primary,
button,
input[type="submit"] {
    background: #F1D608;
    border: none;
    max-width: 360px;
}

.button.button__primary:hover,
button:hover,
input[type="submit"]:hover {
    background: #f7de1b;
}

.hidden {
    display: none;
}

.speaker-picture, .event-sponsor-logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 16px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.center {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.button-container .button {
    display: inline-block;
    margin-right: 16px;
}

.button-container .button:last-child {
    margin-right: 0;
}

.form__group {
    margin-bottom: 8px;
}

.form__group label {
    display: inline-block;
    margin-bottom: 8px;
}

.form__textarea {
    width: 100%;
    resize: none;
    margin-bottom: 16px;
    height: 80px;
    box-sizing: border-box;
    padding: 0;
}

.back-to-top {
    opacity: 1;
    pointer-events: all;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 9999;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .35);
    cursor: pointer;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    transition: all .3s ease;
}

.back-to-top:hover {
    transform: translate3d(0, -2px, 0);
}

.back-to-top.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translate3d(300%, 0, 0);
    transition: all .3s ease;
}

@media (min-width: 750px) {
    body {
        font-size: 1.8rem;
    }
    .page-header {
        padding-top: 0;
    }
    .page-header__logo-link {
        display: inline-block;
        margin: 0 1.6rem 0 0;
        width: 150px;
        vertical-align: bottom;
    }
    .page-header nav {
        display: inline-block;
    }
    .page-main {
        width: 75%;
    }
    .speaker-picture {
        float: right;
        margin-left: 16px;
    }
}
