---
pagination:
    data: events
    size: 1
    alias: talk_id
permalink: streaming/talk-{{ pagination.pageNumber + 1 }}/index.html
---
{% set talk = talks.get(talk_id) %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Talk {{ pagination.pageNumber + 1 }}</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            width: 1920px;
            height: 1080px;
            position: relative;
            background-color: #F7DF1E;
            background-image: url('/img/streaming-background.png');
            background-repeat: no-repeat;
            overflow: hidden;
        }
        h1 {
            margin: 0px;
            width: 100%;
        }
        .title {
            display: flex;
            position: absolute;
            bottom: 0px;
            height: 120px;
            align-items: center;
            text-align: right;
            right: 150px;
            font-size: 24px;
            width: 1280px;
        }
        .speaker {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 490px;
            height: 490px;
            position: absolute;
            bottom: 0px;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
        }
        .speaker__name, .speaker__twitter {
            font-size: 40px;
            padding: 10px;
        }
        .speaker__img {
            width: 250px;
            height: 250px;
        }
        .speaker__img img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background: black;
        }
    </style>
</head>
<body>
    <div class="title">
        <h1>{{ talk.title }}</h1>
    </div>
    <div class="speaker">
        {% set speaker = speakers[talk.speaker] %}
        <div class="speaker__name">{{ speaker.name }}</div>
        <div class="speaker__img">
            <img src="/img/speakers/{{ speaker.picture }}">
        </div>
        <div class="speaker__twitter">
            {% if speaker.twitter %}
                @{{ speaker.twitter }}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
</body>
</html>
