<form action="https://leedsjs.us20.list-manage.com/subscribe/post?u=9462e155458f55937c6c007f0&amp;id=5cdb704e1c"
    method="post" id="mailchimp-form" target="_blank">
    <h2>{{ mailchimp_form_title or "Register to stay updated" }}</h2>
    <label for="mailchimp-email" class="mailchimp-form__label">Your email address</label>
    <input type="email" value="" name="EMAIL" id="mailchimp-email" class="mailchimp-form__email">
    <div id="mailchimp-response" class="mailchimp-form__response hidden"></div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9462e155458f55937c6c007f0_5cdb704e1c"
            tabindex="-1" value=""></div>
    <input type="submit" value="Subscribe" name="subscribe" class="mailchimp-form__button" >
</form>

<script type="text/javascript">
    window.addEventListener('load', () => {
        installMailchimp();
    });
</script>
