---
title: Home
layout: layouts/base.njk
---
{% set next_event = events | datesort | objfirst %}
<div class="card">
    {{ talks[next_event.talk_1].title }}
    {{ speakers[talks[next_event.talk_1].speaker].name }}
    {{ talks[next_event.talk_2].title }}
    {{ speakers[talks[next_event.talk_2].speaker].name }}
</div>
