---
layout: layouts/base.njk
pagination:
    data: events.data
    size: 1
    alias: event_id
permalink: events/{{ event_id | slug }}/index.html
renderData:
    title: Event - {{ events.get(event_id).title | safe }}
    description: "{{ events.get(event_id).blurb | safe }}"
---
{% set event = events.get(event_id) %}
{% set hasVideos = false %}
 
<h1>{{ event.title }}</h1>

<div class="card">
    <p><b>Date:</b> {{ event.date | date("Do MMMM YYYY") }}</p>
    <p><b>Time:</b> {{ event.start_time }} - {{ event.end_time }}</p>
  {{ event.blurb | markdown | safe }}
    {% if event.isUpcomingEvent() %}
        <p>
            <b>Please note:</b> LeedsJS is intended for people looking to expand their knowledge and meet the community.
            While recruiters are welcome to come and learn, we operate a strict no active recruitment policy, outside of
            the job pitches at the start of the event.
        </p>
        {% if event.is_remote %}
            <p><b>This event is remote and will take place on <a href="https://youtube.com/LeedsJS" target="_blank" rel="noopener noreferrer">the LeedsJS YouTube page</a></b></p>
        {% elif event.ticketsAvailable() %}
            <div class="button-container">
                {% include "ticket-button.njk" %}
            </div>
        {% else %}
            <p><b>Tickets will be available from 10:00 AM on {{ event.ticket_date | date("Do MMMM YYYY") }}</b></p>
            <div class="button-container">
                <a href="#mailchimp-form" class="button button__primary">Register to stay updated</a>
            </div>
        {% endif %}
    {% endif %}
     
    {% if event.prizes.length > 0 %}
        <h2>Prize draw prizes</h2>
        <ul>
            {% for prize in event.prizes %}
                <li>{{ prize.tweetQuantity + prize.formQuantity }}x {{ prize.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <h2>Talks</h2>
    {% for talk_id in event.talks %}
        {% set talk = talks.get(talk_id) %}
        {% if talk.youtube_video_id %}
            {% set hasVideos = true %}
        {% endif %}
        <h3>{{ talk.title }}</h3>
        {% for talk_speaker in talk.speaker %}
            {% set speaker = speakers.get(talk_speaker) %}
            <p class="nomargin">
                <span class="event__speaker-detail">
                    <b>Speaker:</b> <a href="/speakers/{{ talk_speaker }}/">{{ speaker.name }}</a>
                </span>
                {% if speaker.twitter %}
                    <span class="event__speaker-detail">
                        <b>Twitter:</b> <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank" rel="noopener noreferrer">@{{ speaker.twitter }}</a>
                    </span>
                {% endif %}
                <span class="event__speaker-detail">
                    <b>Pronouns:</b> {{ speaker.pronouns }}
                </span>
            </p>
        {% endfor %}
        {{ talk.abstract | safe  }}
    {% endfor %}
     
    {% if event.isUpcomingEvent() and not event.is_remote %}
        {% include "venue.njk" %}
    {% endif %}
    {% if event.sponsors.length > 0 %}
        <h2>Sponsors</h2>
        {% for sponsor_id in event.sponsors %}
        {% set sponsor = sponsors.get(sponsor_id) %}
            <h3>{{ sponsor.name }}</h3>
            <p><b>Website:</b> <a href="{{ sponsor.url }}" target="_blank" rel="noopener noreferrer">{{ sponsor.url }}</a></p>
            <img
                loading="lazy"
                class="event-sponsor-logo"
                src="/img/sponsors/{{ sponsor.logo }}"
                alt="{{ sponsor.name }} logo"
            >
        {% endfor %}
    {% endif %}
    {% if hasVideos %}
        <h2>Videos</h2>
        {% for talk_id in event.talks %}
            {% set talk = talks.get(talk_id) %}
            {% set speaker = speakers.get(talk.speaker) %}
            {% if talk.youtube_video_id %}
                <h3>{{ speaker.name }} - {{ talk.title }}</h3>
                {% set youtube_video_id = talk.youtube_video_id %}
                {% include "youtube-video.njk" %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div> 
