---
layout: layouts/base.njk
pagination:
    data: events.data
    size: 1
    alias: event
permalink: events/{{ event.id | slug }}/index.html
renderData:
    title: Event - {{ event.title }}
    description: "{{ event.short_blurb or event.blurb | markdown | getfirsttagcontent }}"
---
{% set videos = [] %}
<h1>{{ event.title }}</h1>
<div class="card">
    <p><b>Date:</b> {{ event.date | date("Do MMMM YYYY") }}</p>
    <p><b>Time:</b> {{ event.start_time }} - {{ event.end_time }}</p>
    {{ event.blurb | markdown | safe }}
    <p>
        <b>Please note:</b> LeedsJS is intended for people looking to expand their knowledge and meet the community.
        While recruiters are welcome to come and learn, we operate a strict no active recruitment policy, outside of
        the job pitches at the start of the event.
    </p>
    {% if not (event.ticket_date | ticketsreleased) %}
        <p><b>Tickets will be available from 10:00 AM on {{ event.ticket_date | date("Do MMMM YYYY") }}</b></p>
    {% endif %}
    {% if event.date | isfutureevent %}
        {% if event.ticket_date | ticketsreleased %}
            {% set tito_event_id = event.id %}
            {% include "tito-button.njk" %}
        {% else %}
            <a href="#mailchimp-form" class="button button__primary">Register to stay updated</a>
        {% endif %}
    {% endif %}
    <h2>Talks</h2>
    {% for talk_id in event.talks %}
        {% set talk = talks[talk_id] %}
        {% if talk.youtube_video_id %}
            {% set videos = (videos.push({ title: talk.title, speaker: speakers[talk.speaker].name, youtube_video_id: talk.youtube_video_id}), videos) %}
        {% endif %}
        <h3>{{ talk.title }}</h3>
        <p><b>Speaker:</b> <a href="/speakers/{{ talk.speaker }}/">{{ speakers[talk.speaker].name }}</a></p>
        {{ talk.abstract | markdown | safe }}
    {% endfor %}
    {% if event.date | isfutureevent %}
        {% include "venue.njk" %}
    {% endif %}
    {% if event.sponsors.length > 0 %}
        <h2>Sponsors</h2>
        {% for sponsor_id in event.sponsors %}
            <h3>{{ sponsors[sponsor_id].name }}</h3>
            <p><b>Website:</b> <a href="{{ sponsors[sponsor_id].url }}" target="_blank" rel="noopener noreferrer">{{ sponsors[sponsor_id].url }}</a></p>
            <img class="event-sponsor-logo" src="/img/sponsors/{{ sponsors[sponsor_id].logo }}" alt="{{ sponsors[sponsor_id].name }} logo" />
        {% endfor %}
    {% endif %}
    {% if videos.length > 0 %}
        <h2>Videos</h2>
        {% for video in videos %}
            <h3>{{ video.speaker }} - {{ video.title }}</h3>
            {% set youtube_video_id = video.youtube_video_id %}
            {% include "youtube-video.njk" %}
        {% endfor %}
    {% endif %}
</div>
