---
layout: layouts/base.njk
pagination:
    data: events.data
    size: 1
    alias: event_id
permalink: events/{{ event_id | slug }}/feedback/index.html
renderData:
    title: Feedback - {{ events.get(event_id).title | safe }}
    disableMailchimp: true
---
{% set event = events.get(event_id) %}
<h1>Feedback: {{ event.title }}</h1>
<div class="card">
{% if event.isUpcomingEvent() %}
    <p>The feedback form will be available after the event</p>
{% elseif event.isWithinFeedbackWindow() %}
    <form name="{{ event_id }}-feedback" action="/feedback-success" method="POST" netlify>
        <h2>The event</h2>
        <p>How would you rate the event overall?</p>
        <p>1 = Terrible, 5 = Excellent</p>
        <div class="form__group">
            <label>
                <input type="radio" name="event_rating" value="1">
                1
            </label>
            <label>
                <input type="radio" name="event_rating" value="2">
                2
            </label>
            <label>
                <input type="radio" name="event_rating" value="3">
                3
            </label>
            <label>
                <input type="radio" name="event_rating" value="4">
                4
            </label>
            <label>
                <input type="radio" name="event_rating" value="5">
                5
            </label>
        </div>

        <p><label for="event_feedback">Any suggestions/feedback about the event?</label></p>
        <textarea id="event_feedback" name="event_feedback" class="form__textarea"></textarea>
        {% set talk_count = 1 %}
        {% for talk_id in event.talks %}
            {% set talk = talks.get(talk_id) %}
            <h2>Talk {{talk_count}}: {{ talk.title }} - 
                {% for speaker in talk.speaker %}
                    {{ speakers.get(speaker).name }}{{ ", " if loop.revindex0 > 1 }}
                    {% if loop.revindex0 === 1 and loop.length > 1 %}
                        and
                    {% endif %}
                {% endfor %}
            </h2>
            <p>How would you rate the talk?</p>
            <p>1 = Terrible, 5 = Excellent</p>
            <div class="form__group">
                <label>
                    <input type="radio" name="talk_{{ talk_count }}_rating" value="1">
                    1
                </label>
                <label>
                    <input type="radio" name="talk_{{ talk_count }}_rating" value="2">
                    2
                </label>
                <label>
                    <input type="radio" name="talk_{{ talk_count }}_rating" value="3">
                    3
                </label>
                <label>
                    <input type="radio" name="talk_{{ talk_count }}_rating" value="4">
                    4
                </label>
                <label>
                    <input type="radio" name="talk_{{ talk_count }}_rating" value="5">
                    5
                </label>
            </div>

            <p><label for="talk_{{ talk_count }}_feedback">Any suggestions/feedback about the talk?</label></p>
            <textarea id="talk_{{ talk_count }}_feedback" name="talk_{{ talk_count }}_feedback" class="form__textarea"></textarea>
            {% set talk_count = talk_count + 1 %}
        {% endfor %}
        <div class="button-container">
            <button type="submit">Submit</button>
        </div>
    </form>
{% else %}
    <p>The window for feedback has closed</p>
{% endif %}
</div>
