---
title: Events
description: Check out the listing of our current and past events!
layout: layouts/list.njk
permalink: events/index.html
---
<ul>
{% for event_id, event in events | objsort("date", true) %}
    <li class="card">
        <h2><a href="/events/{{ event_id }}">{{ event.title }}</a></h2>
        <p>{{ event.date | date("Do MMMM YYYY") }} {{ event.time }}</p>
        {{ event.short_blurb | markdown | safe }}
        <p><a href="/events/{{ event_id }}">Event details</a></p>
    </li>
{% endfor %}
</ul>
