---
layout: layouts/base.njk
pagination:
  data: events
  size: 1
permalink: events/{{ pagination.items[0] | slug }}/index.html
---
{% for event_id in pagination.items %}
<h1>{{ events[event_id].title }}</h1>
<div class="card">
  {% for talk_id in events[event_id].talks %}
    <h3>{{ talks[talk_id].title }}</h3>
    <p>{{ speakers[talks[talk_id].speaker].name }}</p>
  {% endfor %}
  {% if event_id | isfutureevent  %}
    {% set tito_event_id = event_id %}
    {% include "tito-button.njk" %}
  {% else %}
    {% set mailchimp_form_title = "Register to hear about future events" %}
  {% endif %}
  {% include "mailchimp-form.njk" %}
</div>
{% endfor %}
