{% set event = events.nextEvent %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Intro slides</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            background-color: #ffffff;
            overflow: hidden;
            font-size: 30px;
        }

        body {
            background: url('../img/logo.png');
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: 10px 10px;
        }

        h1, h2, p {
            text-align: center;
        }

        h1 {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 0.25em;
        }

        .wrapper {
            scroll-snap-type: y mandatory;
            width: 100%;
            height: 100vh;
            overflow: auto;
        }

        .slide {
            scroll-snap-align: start;
            width: 100%;
            height: 100vh;
            padding: 10px 15%;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
        }

        .fullscreen {
            position: fixed;
            bottom: 10px;
            left: 10px;
            opacity: 0;
            width: 80px;
            height: 40px;
        }

        .sponsors {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .sponsor {
            text-align: center;
            flex: 1 0 33%;
        }

        .event-sponsor-logo {
            max-width: 300px;
            max-height: 250px;
        }

        .social-icon {
            vertical-align: middle;
        }

        .talk-title {
            display: flex;
            align-items: center;
            flex: 1;
        }

        .speakers {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex: 4 1 0px;
        }

        .speaker {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .speaker p {
            margin: 0 0 16px;
        }

        .speaker-picture {
            max-width: 300px;
            max-height: 300px;
            margin-bottom: 16px;
            flex: 1 1 0px;
        }

        .prize-draws {
            display: flex;
            align-items: top;
        }

        .prize-draws section {
            flex: 1 0 50%;
            margin: 0px 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="slide">
            <h1>Sponsors</h1>
            <div class="sponsors">
                {% for sponsor_id in event.sponsors %}
                {% set sponsor = sponsors.get(sponsor_id) %}
                    <div class="sponsor">
                        <img
                            class="event-sponsor-logo"
                            src="../img/sponsors/{{ sponsor.logo }}"
                        >
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="slide">
            <h1>Follow us on social media!</h1>
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg"
                    aria-label="Twitter" role="img"
                    width="75" height="75"
                    class="social-icon"
                    viewBox="0 0 512 512"><rect
                    width="512" height="512"
                    rx="15%"
                    fill="#1da1f3"/><path fill="#fff" d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37"/></svg>
                @LeedsJS
            </h2>
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg"
                    aria-label="YouTube" role="img"
                    width="75" height="75"
                    class="social-icon"
                    viewBox="0 0 512 512"
                    fill="#ed1d24"><rect
                    width="512" height="512"
                    rx="15%"/><path d="m427 169c-4-15-17-27-32-31-34-9-239-10-278 0-15 4-28 16-32 31-9 38-10 135 0 174 4 15 17 27 32 31 36 10 241 10 278 0 15-4 28-16 32-31 9-36 9-137 0-174" fill="#fff"/><path d="m220 203v106l93-53"/></svg>
                YouTube.com/LeedsJS
            </h2>
        </div>
        <div class="slide">
            <h1>Join our mailing list!</h1>
            <h2>leedsjs.com/mailing-list/</h2>
        </div>
        <div class="slide">
            <h1>Code of conduct</h1>
            <h2>Full version: leedsjs.com/code-of-conduct/</h2>
            <p class="code-of-conduct">LeedsJS is dedicated to providing harassment-free meet up experiences for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, age, race, or religion. We do not tolerate harassment of meet up participants in any form. Sexual language and imagery is not appropriate for any meet up venue or online discussion, including talks given at the events. LeedsJS members violating these rules may be sanctioned or expelled from the group at the discretion of the group's organisers.</p>
        </div>
        <div class="slide">
            <h1>Job pitches</h1>
            <h2>1 minute maximum</h2>
        </div>
        {% if event.prizes.length > 0 %}
            <div class="slide">
                <h1>Prize draws</h1>

                <div class="prize-draws">
                    <section>
                        <h2>Twitter Entry</h2>
                        <p>Tweet with the hashtag <strong>#LeedsJS</strong> for these prizes:</p>
                        <ul>
                            {% for prize in event.prizes %}
                                {% if prize.tweetQuantity > 0 %}
                                    <li>{{ prize.tweetQuantity }}x {{ prize.name }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </section>
                    <section>
                        <h2>Form Entry</h2>
                        <p>Enter at <strong>leedsjs.com/prize-draw</strong> for these prizes:</p>
                        <ul>
                            {% for prize in event.prizes %}
                                <li>{{ prize.formQuantity }}x {{ prize.name }}</li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        {% endif %}
        <div class="slide">
            <h1>We don't do Q & A</h1>
            <h2>But please come and chat to the speaker after their talk!</h2>
        </div>
        {% for talk_id in event.talks %}
            {% set talk = talks.get(talk_id) %}
            <div class="slide">
                <div class="talk-title">
                    <h1>{{ talk.title }}</h1>
                </div>
                <div class="speakers">
                    {% for talk_speaker in talk.speaker %}
                        {% set speaker = speakers.get(talk_speaker) %}
                        <div class="speaker">
                            <img
                                class="speaker-picture"
                                src="../img/speakers/{{ speaker.picture }}"
                            >
                            <div>
                                <p>{{ speaker.name }}</p>
                                {% if speaker.twitter %}
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                        aria-label="Twitter" role="img"
                                        width="40" height="40"
                                        class="social-icon"
                                        viewBox="0 0 512 512"><rect
                                        width="512" height="512"
                                        rx="15%"
                                        fill="#1da1f3"/><path fill="#fff" d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37"/></svg>
                                        @{{ speaker.twitter }}
                                    </p>
                                {% endif %}
                                <p>Pronouns: {{ speaker.pronouns }}</p>
                            </div>
                        </div>     
                    {% endfor %}
                </div>           
            </div>
        {% endfor %}
        
    </div>
    <button class="fullscreen">Fullscreen</button>
    <script>
        const wrapper = document.querySelector('.wrapper');
        wrapper.focus();

        const fullscreen = document.querySelector('.fullscreen')
        fullscreen.addEventListener('mouseover', () => {
            fullscreen.style.opacity = 1;
        })
        fullscreen.addEventListener('mouseout', () => {
            fullscreen.style.opacity = 0;
        })
        fullscreen.addEventListener('click', () => {
            document.body.requestFullscreen();
            wrapper.focus();
        })
    </script>
</body>
</html>
