---
layout: layouts/base.njk
pagination:
    data: talks
    size: 1
    alias: talk_id
permalink: talks/{{ talk_id }}/index.html
renderData:
    title: Talk - {{ talks[talk_id].title }}
    description: "{{ talks[talk_id].abstract | markdown | getfirsttagcontent }}"
---
{% set talk = talks[talk_id] %}
<h1>{{ talk.title }}</h1>
<div class="card">
    <p><b>Date:</b> {{ talk.date | date("Do MMM YYYY") }}</p>
    <p><b>Speaker:</b> <a href="/speakers/{{ talk.speaker }}">{{ speakers[talk.speaker].name }}</a></p>
    <h2>Abstract</h2>
    {{ talk.abstract | markdown | safe }}
    {% if talk.youtube_video_id %}
        <h2>Video</h2>
        {% set youtube_video_id = talk.youtube_video_id %}
        {% include "youtube-video.njk" %}
    {% endif %}
</div>
