---
title: Talks
layout: layouts/list.njk
permalink: talks/index.html
---
<ul>
    {% for talk_id, talk in talks | objsort("name") %}
    <li class="card">
        <h2><a href="/talks/{{ talk_id }}">{{ talk.title }}</a></h2>
        <p>{{ talk.abstract }}</p>
        <p><a href="/talks/{{ talk_id }}">Read more</a></p>
    </li>
    {% endfor %}
</ul>
