---
layout: layouts/base.njk
pagination:
    data: talks
    size: 1
permalink: talks/{{ pagination.items[0] }}/index.html
---
{% for talk_id in pagination.items %}
<div class="card">
    <h1>{{ talks[talk_id].title }}</h1>
    <p>{{ talks[talk_id].abstract }}</p>
</div>
{% endfor %}
