---
permalink: automation/announcement-email.html
---
{% set event_id = events | objsort("date", true) | objfirstkey %}
{% set event = events[event_id] %}
<p class="center">Our next event is...</p>
<h1 class="center">{{ event.title }}</h1>
<p><b>Date:</b> {{ event.date | date("Do MMMM YYYY") }}</p>
<p><b>Time:</b> {{ event.time }}</p>
{{ event.blurb | markdown | safe }}

<h2>Talks</h2>
{% for talk_id in event.talks %}
    <h3>{{ talks[talk_id].title }}</h3>
    <p>By <a href="https://leedsjs.netlify.com/speakers/{{ talks[talk_id].speaker }}">{{ speakers[talks[talk_id].speaker].name }}</a></p>
{% endfor %}
</ul>
<a href="https://leedsjs.netlify.com/events/{{ event_id }}" class="button">More details</a>
{% set show_map = false %}
{% include "venue.njk" %}
{% if event.sponsors.length > 0 %}
    <h2>Sponsors</h2>
    {% for sponsor_id in event.sponsors %}
        <h3>{{ sponsors[sponsor_id].name }}</h3>
        <p><b>Website:</b> <a href="https://leedsjs.netlify.com/{{ sponsors[sponsor_id].url }}" target="_blank">{{ sponsors[sponsor_id].url }}</a></p>
        <img
            class="event-sponsor-logo"
            src="https://leedsjs.netlify.com/img/sponsors/{{ sponsors[sponsor_id].logo }}"
            alt="{{ sponsors[sponsor_id].name }} logo"
        />
    {% endfor %}
{% endif %}
