---
permalink: automation/announcement-email.html
---
{% set event = events.nextEvent %}
{% if event.id %}
    <p class="center">Our next event is...</p>
    <h1 class="center">{{ event.title }}</h1>
    <p><b>Date:</b> {{ event.date | date("Do MMMM YYYY") }}</p>
    <p><b>Time:</b> {{ event.start_time }} - {{ event.end_time }}</p>
    {{ event.blurb | markdown | safe }}

    <h2>Talks</h2>
    {% for talk_id in event.talks %}
        {% set talk = talks.get(talk_id) %}
        <h3>{{ talk.title }}</h3>
        <p>By <a href="https://leedsjs.com/speakers/{{ talk.speaker }}">{{ speakers.get(talk.speaker).name }}</a></p>
    {% endfor %}

    <p><b>Tickets will be available from 10:00 AM on {{ event.ticket_date | date("Do MMMM YYYY") }}</b></p>

    <a href="https://leedsjs.com/events/{{ event.id }}" class="button button__primary">More details</a>
    {% include "venue.njk" %}
    {% if event.prizes.length > 0 %}
        <h2>Prize draw prizes</h2>
        <ul>
            {% for prize in event.prizes %}
                <li>{{ prize.tweetQuantity + prize.formQuantity }}x {{ prize.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if event.sponsors.length > 0 %}
        <h2>Sponsors</h2>
        {% for sponsor_id in event.sponsors %}
        {% set sponsor = sponsors.get(sponsor_id) %}
            <h3>{{sponsor.name }}</h3>
            <p><b>Website:</b> <a href="{{ sponsor.url }}" target="_blank">{{sponsor.url }}</a></p>
            <img
                class="event-sponsor-logo"
                src="https://leedsjs.com/img/sponsors/{{sponsor.logo }}"
                alt="{{sponsor.name }} logo"
            />
        {% endfor %}
    {% endif %}
{% else %}
    <h1 class="center">Our next event will be announced shortly</h1>
    <p class="center">We're not quite ready to announce our next event, if you've recieved this email then the robots
        have gone haywire!</p>
{% endif %}
