{% if event.ticket_link %}
    {% set ticket_link = event.ticket_link %}
{% else %}
    {% set ticket_link = ["https://ti.to/leedsjs/", event.id] | join %}
{% endif %}

<a href="{{ ticket_link }}" class="button button__primary" target="_blank" rel="noopener noreferrer">Get your
    ticket</a>