<h2>Venue</h2>
<p>Our in-person events are held at <a href="https://goo.gl/maps/Jjqz2DY4N7SNieie6" target="_blank" rel="noopener noreferrer">BJSS</a>, right behind Leeds train station. The address is:</p>
<address>
    BJSS<br />
    1 Whitehall Quay<br />
    Leeds<br />
    LS1 4HR
</address>
<p><a href="https://goo.gl/maps/Jjqz2DY4N7SNieie6" target="_blank" rel="noopener noreferrer">BJSS on Google Maps</a></p>
