<h2>Venue</h2>
<p>Our events are held at <a href="https://goo.gl/maps/ZbSPUtjtN362" target="_blank" rel="noopener noreferrer">Platform</a>, right next to Leeds train station. The address is:</p>
<address>
    Platform<br />
    New Station St<br />
    Leeds<br />
    LS1 4JB
</address>
